<app-body-card *ngIf="!loading; else onLoading" title="PREGUNTA {{counter + 1}} / 5">
  <ion-list>
    <ion-item>
      <ion-label>Difficulty:</ion-label>
      <ion-label slot="end">
        <strong class="text-uppercase">{{ config.difficulty | titlecase }}</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Category:</ion-label>
      <ion-label slot="end" class="ion-text-wrap">
        <strong>{{ trivia[0]?.category }}</strong></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Remain time:</ion-label>
      <ion-label slot="end">
        <strong>
          <app-count-down
            *ngIf="!gameOver; else onGameOver"
            (time)="getTime($event)"
            [timeInSec]="initialTime">
          </app-count-down>
          <ng-template #onGameOver>
            GAME OVER
          </ng-template>
        </strong>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- sub-card -->
  <ion-card class="sub-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center ion-text-wrap" [innerHTML]="selectedQuestion?.question"></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <section *ngFor="let answer of selectedQuestion?.randomAnswers; index as i">
        <ion-button (click)="selectedAnswer(answer)" color="secondary" expand="block" [innerHTML]="answer"></ion-button>
      </section>
    </ion-card-content>
  </ion-card>
  <!-- sub-card -->
</app-body-card>

<ng-template #onLoading>
  <app-body-card title="loading"> loading... </app-body-card>
</ng-template>