/*
 * Dark Colors
 * ------------------
 */

 body.dark {
  --ion-color-primary: #428cff;
  --ion-color-primary-rgb: 66, 140, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3a7be0;
  --ion-color-primary-tint: #5598ff;

  --ion-color-secondary: #50c8ff;
  --ion-color-secondary-rgb: 80, 200, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #46b0e0;
  --ion-color-secondary-tint: #62ceff;

  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106, 100, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;
}

/*
 * iOS Dark Theme
 * -------------------
 */

.ios body.dark {
  --ion-background-color: #263846;
  --ion-background-color-rgb: 38,56,70;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #31424f;
  --ion-color-step-100: #3c4c59;
  --ion-color-step-150: #475662;
  --ion-color-step-200: #51606b;
  --ion-color-step-250: #5c6a74;
  --ion-color-step-300: #67747e;
  --ion-color-step-350: #727e87;
  --ion-color-step-400: #7d8890;
  --ion-color-step-450: #889299;
  --ion-color-step-500: #939ca3;
  --ion-color-step-550: #9da5ac;
  --ion-color-step-600: #a8afb5;
  --ion-color-step-650: #b3b9be;
  --ion-color-step-700: #bec3c8;
  --ion-color-step-750: #c9cdd1;
  --ion-color-step-800: #d4d7da;
  --ion-color-step-850: #dee1e3;
  --ion-color-step-900: #e9ebed;
  --ion-color-step-950: #f4f5f6;

  --ion-toolbar-background: #241e1e;

  --ion-item-background: #1c1c1c;
  --ion-item-background-activated: #313131;
}

/*
 * Material Design Dark Theme
 * ------------------------------
 */

.md body.dark {
  --ion-background-color: #263846;
  --ion-background-color-rgb: 38,56,70;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #31424f;
  --ion-color-step-100: #3c4c59;
  --ion-color-step-150: #475662;
  --ion-color-step-200: #51606b;
  --ion-color-step-250: #5c6a74;
  --ion-color-step-300: #67747e;
  --ion-color-step-350: #727e87;
  --ion-color-step-400: #7d8890;
  --ion-color-step-450: #889299;
  --ion-color-step-500: #939ca3;
  --ion-color-step-550: #9da5ac;
  --ion-color-step-600: #a8afb5;
  --ion-color-step-650: #b3b9be;
  --ion-color-step-700: #bec3c8;
  --ion-color-step-750: #c9cdd1;
  --ion-color-step-800: #d4d7da;
  --ion-color-step-850: #dee1e3;
  --ion-color-step-900: #e9ebed;
  --ion-color-step-950: #f4f5f6;

  --ion-item-background: #1a1b1e;
}

/* Optional CSS, this is added for the flashing that happens when toggling between themes */
ion-item {
  --transition: none;
}
