<ion-card>
  <ion-card-header>
    <ion-card-title class="uppercase-text">Test your knowledge:</ion-card-title>
    <!-- <ion-card-subtitle>Configurar trivia</ion-card-subtitle> -->
  </ion-card-header>

  <form [formGroup]="setupForm" (ngSubmit)="goToTrivia()">
    <ion-card-content>
      <ion-item>
        <ion-label>Choose Categories</ion-label>
        <ion-select placeholder="Select One" interface="popover" formControlName="category">
          <ion-select-option [value]="category.id" *ngFor="let category of (categories$ | async)">
            {{ category.name }}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Choose Difficulty</ion-label>
        <ion-select placeholder="Select One" interface="popover" formControlName="difficulty">
          <ion-select-option value="easy">Easy</ion-select-option>
          <ion-select-option value="medium">Medium</ion-select-option>
          <ion-select-option value="hard">Hard</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button type="submit" expand="full" [disabled]="!setupForm.valid">Iniciar Trivia</ion-button>
      <ion-item>
        <ion-label> Al pulsar iniciar, tendrás 10 segundos por pregunta.</ion-label>
      </ion-item>
    </ion-card-content>
  </form>
</ion-card>
