<app-body-card title="Test your knowledge" subtitle="Trivia setup">
  <form [formGroup]="setupForm" (ngSubmit)="goToTrivia()">
    <ion-item>
      <ion-label>Choose Categories</ion-label>
      <ion-select placeholder="Select One" interface="popover" formControlName="category">
        <ion-select-option [value]="category.id" *ngFor="let category of categories$ | async">
          {{ category.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Choose Difficulty</ion-label>
      <ion-select placeholder="Select One" interface="popover" formControlName="difficulty">
        <ion-select-option value="easy">Easy</ion-select-option>
        <ion-select-option value="medium">Medium</ion-select-option>
        <ion-select-option value="hard">Hard</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button type="submit" expand="full" [disabled]="!setupForm.valid">Start Trivia</ion-button>

    <ion-item>
      <ion-label> Once you start trivia, you'll have 10s per question.</ion-label>
    </ion-item>
  </form>
</app-body-card>
